@using _4_01ImagePW.Controllers
@model string
@if (Model != null)
{
    <div class="media alert-success">@Model.ToString()</div>
}

<div class="container">
    <form method="post" action="/home/upload" enctype="multipart/form-data">
        <h3>Choose your file to upload:</h3>
        <input type="file" name="image" />
        <br />
        <h5>Please create a password for your file.</h5>
        <input type="text" name="password" placeholder="Password" />
        <br />
        <br />
        <button class="btn btn-danger">Upload</button>
    </form>
</div>